* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  --gimmel-darkBlue: #104E5B;
  --gimmel-orange: #F18D51;
  --white-color: #fff;
  --gimmel-blackGray: #3D3D3D;
  --gimmel-blackText: #242424;
  --gimmel-lightText: #87A7AD;
  --gimmel-lightGray: #C8C8C8;
  --gimmel-gray: #929292;

  --transition: all 400ms ease;

  --container-width-lg: 70%;
  --container-width-md: 86%;
  --container-width-sm: 95%;
}

body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden ! important;
  background-color: #F3F6F7 !important;
}

.top-space-filter {
  margin-top: 80px;
}

/* Header Section CSS Start here  */

.header {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, .14); */
  color: var(--text-color);
  background: #ffffff;
  padding: 0px 16px;
}

.header.on-scroll {
  background: var(--color-white-100);
  box-shadow: var(--shadow-medium);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 1.25rem; */
  width: 100%;
  margin: 0 auto;
  height: 80px;
  border-bottom: 1px solid var(--gimmel-lightGray);
}

.brand {
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--color-white-100);
  text-transform: uppercase;
  text-align: center;
  margin-right: 40px;
}

/* .brand {
  border-right: 1px solid var(--tertiary-color);
  padding-right: 25px;
  margin-right: 25px;
} */

.brand img {
  width: 140px;
  height: auto;
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  height: auto;
  padding: 4rem 1.5rem 3rem;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
  width: 100%;
}

.btn-menu {
  display: flex;
  justify-content: flex-start;
}

.menu.is-active {
  top: 0;
  width: 100%;
  height: 100%;
}

.menu.is-active .btn-menu {
  margin-bottom: 30px;
}

.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  padding-left: 0;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--gimmel-lightText);
  text-transform: uppercase;
  transition: all 0.3s ease;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-link.active {
  color: var(--gimmel-lightText);
}

.menu-link:hover {
  color: var(--gimmel-lightText);
}

.menu-block {
  display: inline-block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  padding: 0.65rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--secondary-color);
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
}

.header-btn {
  background: transparent;
  color: var(--secondary-color);
  border-radius: 50%;
  height: 40px;
  display: block;
  line-height: 10px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  width: 40px;
  text-align: center;
  border: none;
  padding: 0;
  margin-left: 10px;
  line-height: 40px;
}

.header-btn:hover {
  background: var(--primary-color);
  color: var(--color-white-100);
}

.btn-action {
  display: inline-block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  padding: 0.65rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  color: var(--color-white-100);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}

.btn-action.sign-in-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-action:hover {
  background-color: var(--primary-color);
  color: var(--color-white-100);
}

.btn-action.sign-up-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.menu-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 1.25rem; */
}

@media only screen and (min-width: 56rem) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    background: none;
    box-shadow: none;
  }

  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    margin: 0 auto;
    justify-content: flex-end;
  }

  .menu-link {
    text-transform: capitalize;
  }

  .menu-block {
    margin-left: 2rem;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  order: 1;
  z-index: 10;
  width: 1.6rem;
  height: 1.15rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}

@media only screen and (min-width: 56rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 1rem;
  transform: rotate(0deg);
  background-color: var(--gimmel-darkBlue);
  transition: 0.25s ease-in-out;
}

.burger-line:nth-child(1) {
  top: 0px;
}

.burger-line:nth-child(2) {
  top: 0.5rem;
  width: 70%;
}

.burger-line:nth-child(3) {
  top: 1rem;
}

.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}

.burger.is-active .burger-line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}


.search-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--gimmel-lightGray);
  border-radius: 8px;
  background-color: #fff;
  margin: 0 40px;
}

.search-container.active {
  border-radius: 8px 8px 0 0;
}

.search-input {
  width: 450px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--gimmel-lightGray);
  border-radius: 8px;
}

.search-button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: transparent;
}

.search-history {
  position: absolute;
  top: 45px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0px 0px 8px 8px;
}

.search-history ul {
  list-style: none;
  margin: 0;
  padding: 16px
}

.search-history li {
  padding: 10px 8px;
  cursor: pointer;
}

.search-history li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 600;
}

.search-history-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-history li:hover {
  background-color: #f0f0f0;
}

.search-history {
  position: absolute;
  top: 45px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0px 0px 8px 8px;
}

.sec-center {
  position: relative;
  max-width: 100%;
  z-index: 200;
}

.top-menu:checked,
.top-menu:not(:checked) {
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}

.dropdown:checked+label,
.dropdown:not(:checked)+label {
  position: relative;
  transition: all 200ms linear;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-bottom: 0;
}

.dropdown:checked+label:before,
.dropdown:not(:checked)+label:before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}

.user-image {
  height: 22px;
  background: #333;
  border-radius: 50%;
  width: 22px;
  overflow: hidden;
}

.user-image img.img-responsive,
.user-img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

span.user-name {
  font-size: 14px;
  color: var(--gimmel-darkBlue);
  text-transform: capitalize;
  letter-spacing: 0.1px;
  font-weight: 600;
}

span.user-name {
  padding: 0 8px;
}

.profile-btn-view i {
  transition: 0.2s;
}

.section-dropdown {
  position: absolute;
  padding: 5px;
  top: 50px;
  left: -40px;
  width: 182px;
  display: block;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
  border-radius: 8px;
  box-shadow: 4px -2px 15px rgb(0 0 0 / 8%);
  background: #ffffff;
}

.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
  z-index: 1;
}

.memu-drop-item {
  line-height: 22px !important;
  padding: 8px 17px !important;
  color: #292929;
  font-size: 15px;
  font-weight: normal;
  transition: all 200ms linear;
  display: flex;
  align-items: center;
}

.dropdown:checked~.section-dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.memu-drop-item i {
  font-size: 15px !important;
  padding-right: 10px;
  padding-top: 2px !important;
  color: var(--text-color);
}

.sec-center.show .profile-btn-view i {
  transform: rotate(180deg);
}

.top-space {
  margin-top: 104px;
}



/* video section css start here */

.page-main-title {
  margin: 32px 0px;
}

.page-main-title h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.video-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-card-image {
  position: relative;
}

.video-duration {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.video-card-image img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0px 0px;
}

.video-card-detail {
  padding: 16px;
}

.eng-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating span {
  font-size: 14px;
  font-weight: 600;
  color: var(--gimmel-orange);
}

.eng-name {
  font-size: 14px;
  font-weight: 600;
  color: var(--gimmel-lightText);
}

.video-de-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 8px 0px;
}

.btn-more {
  width: 24px;
  height: 24px;
  padding: 0 !important;
  line-height: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0 !important;
}

.de-title a {
  font-size: 17px;
  font-weight: 900;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
  text-transform: capitalize;
  text-decoration: none;
}

.de-info p {
  font-size: 14px;
  font-weight: 600;
  color: var(--gimmel-lightText);
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.category-card-image {
  position: relative;
  height: auto;
}

.category-card-image .category-card-image-icon:nth-child(1) {
  opacity: 50%;
  position: absolute;
  top: 0;
  width: calc(100% - 24px);
  height: 100%;
  left: 0;
  right: 12px;
  border-radius: 8px;
}

.category-card-image .category-card-image-icon:nth-child(2) {
  opacity: 75%;
  position: absolute;
  top: 6px;
  width: calc(100% - 20px);
  height: 100%;
  left: 6px;
  right: 15px;
  border-radius: 8px;
}

.category-card-image .category-card-image-icon:nth-child(3) {
  position: absolute;
  top: 12px;
  width: calc(100% - 16px);
  height: 160px;
  left: 12px;
  right: 18px;
  border-radius: 8px;
}

.category-card-image .category-card-image-icon:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #104f5b9a;
  border-radius: 8px;
}

.category-card-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.category-card-content a {
  text-decoration: none;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.category-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  text-align: center;
}

.category-swiper {
  overflow: unset !important;
}

.slider-section {
  position: relative;
}

.slider-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  /* Adjust for the fade-out height */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none;
}

.swiper-button-custom-prev,
.swiper-button-custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: #D1DDE0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gimmel-blackText);
  box-shadow: none;
  transition: all 0.4s ease-in-out;
  z-index: 9;
  border: 1px solid #71969E;
}

.swiper-button-custom-prev i,
.swiper-button-custom-next i {
  font-size: 16px;
}

.swiper-button-custom-prev:hover,
.swiper-button-custom-next:hover {
  background: var(--gimmel-darkBlue);
  color: #fff;
}

.swiper-button-custom-prev {
  left: -50px;
}

.swiper-button-custom-next {
  right: -50px;
}

.category-card {
  height: 196px;
}

.menu-link svg {
  width: 16px;
  height: 16px;
}

.more-btn {
  position: relative;
}

.dropdown-menu-card {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px;
  width: max-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu-card li {
  margin-bottom: 16px;
}

.dropdown-menu-card li:last-child {
  margin-bottom: 0;
}

.dropdown-menu-card li button {
  color: var(--gimmel-darkBlue);
  text-decoration: none;
  font-weight: bold;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
}

.dropdown-menu-card li button svg {
  margin-right: 16px;
}

.dropdown-divider {
  border-top: 1px solid #ddd;
  margin: 16px 0;
}

.custom-modal .modal-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-modal .modal-header {
  border-bottom: none;
  padding: 40px 40px 0;
}

.custom-modal .modal-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
}

.custom-modal .btn-close {
  color: var(--gimmel-orange);
  opacity: 1;
  background-image: url("../assets/images/modal-close.svg");
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: none;
  border: none;
}

.custom-modal .modal-body {
  padding: 16px 40px 40px;
}

.custom-modal .modal-body p {
  font-size: 16px;
  color: var(--gimmel-darkBlue);
}

.short-by p {
  font-size: 14px;
  font-weight: bold;
  color: #87A7AD;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.short-by {
  display: flex;
  align-items: center;
  gap: 16px;
}

.short-by select {
  border: none;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  background: transparent;
}

.short-by select:focus-visible {
  outline: none;
}

.body-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-type-view {
  display: flex;
  gap: 16px;
  align-items: center;
}

.list-icon-text {
  font-size: 14px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
}

.folder-view {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  background-color: #D1DDE0;
  border: 1px solid var(--gimmel-darkBlue);
  padding: 16px 24px;
}

.folder-content-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.folder-content-inline a {
  width: 100%;
}

.folder-content-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.folder-name p {
  font-size: 16px;
  font-weight: 600;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
}

.body-middle {
  margin: 24px 0;
  height: 400px;
}

.folder-content-right .folder-icon svg {
  width: 24px;
  height: 24px;
  color: var(--gimmel-darkBlue);
}

.folder-lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-new-folder {
  margin-top: 24px;
}

.add-new-folder .btn-new-folder {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--gimmel-darkBlue);
  font-weight: bold;
}

.add-new-folder .btn-new-folder svg {
  width: 24px;
  height: 24px;
  color: var(--gimmel-darkBlue);
}

.success-modal .modal-content {
  background-color: var(--gimmel-darkBlue);
}

.success-modal .modal-title {
  color: #ffffff;
}

.page-main-title-mylibrary {
  padding-top: 24px;
}

.page-main-title-mylibrary h3 {
  font-size: 16px;
  font-weight: 900;
  /* padding-top: 24px; */
  color: var(--gimmel-darkBlue);
  margin: 0;
}

.inline-gap-8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inline-gap-8 h3 {
  color: var(--gimmel-lightText);
  font-weight: 600;
}

.inline-gap-8 a {
  /* padding-top: 24px; */
  font-size: 16px;
  font-weight: 900;
  color: var(--gimmel-darkBlue);
}

.modal-input label {
  font-size: 14px;
  font-weight: 600;
  color: var(--gimmel-darkBlue);
  margin-bottom: 8px;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.modal-input input {
  border: 1px solid var(--gimmel-darkBlue);
  border-radius: 8px;
  font-size: 14px;
  height: 48px;
}

.modal-input input:focus-visible {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--gimmel-darkBlue);
}

.card-white {
  background: #ffffff;
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #E7EDEF;
  overflow: hidden;
}

.library-swiper .video-card-detail {
  padding: 0;
}

.library-swiper .video-card {
  box-shadow: none;
}

.library-swiper {
  overflow: unset !important;
}

.main-container {
  width: 1063px;
  margin-left: 500px;
}

/* Range Slider as a Single Thumb Slider */
.single-thumb .range-slider__thumb[data-lower] {
  width: 0;
}

.single-thumb .range-slider__range {
  border-radius: 6px;
}

.range-slider input {
  display: none;
}

.range-slider .range-slider__range {
  background: var(--gimmel-orange) !important;
}

.range-slider .range-slider__thumb {
  background: var(--gimmel-darkBlue) !important;
}

.rating-icon {
  display: flex;
}


.page-main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.see-all {
  font-size: 14px;
  font-weight: 600;
  color: var(--gimmel-orange);
  font-weight: 500;
}

.modal-bar {
  text-align: -webkit-center;
}

.bar-line {
  width: 140px;
  height: 5px;
  background-color: #C8C8C8;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.show_mobile {
  display: none;
}



/* mobile design css */


.page-top-bar {
  background: #fff;
  border-bottom: 1px solid var(--gimmel-lightGray);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.page-inner {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 48px; */
}

.back-button .btn {
  padding: 0;
}

.page-section-left {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.page-title h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  color: var(--gimmel-darkBlue);
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bottom-btn-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.bottom-btn-bar-inner {
  padding: 8px 24px 40px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-main-section {
  margin-bottom: 80px;
}

.save-video-list-container {
  margin-top: 16px;
}

.video-item-inline {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.video-item-thumbnail {
  width: 140px;
  height: auto;
}

.video-item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.video-item-title p {
  font-size: 14px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-item-category {
  font-size: 12px;
  font-weight: 600;
  color: var(--gimmel-lightText);
  margin-bottom: 0;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.upload-info {
  font-size: 12px;
  font-weight: bold;
  color: var(--gimmel-gray);
}

.video-item-icon svg {
  width: 24px;
  height: 24px;
  color: var(--gimmel-blackText);
}

.video-item {
  margin-bottom: 16px;
}

.search-bar-header {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--gimmel-lightGray);
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
}

.search-bar-header input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--gimmel-gray);
  border-radius: 8px;
  height: 34px;
  font-size: 14px;
}

.search-history-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-history-container ul li {
  margin-bottom: 16px;
}

.search-history-container li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;
}

.inline-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-history-img img {
  width: 80px;
  height: 48px;
  border-radius: 2px;
}

.model-custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.model-head-title {
  display: flex;
  gap: 8px;
  align-items: center;
}

.model-head-title h3 {
  font-size: 16px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.model-custom-header-right .btn {
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.model-custom-header-right .btn svg {
  width: 24px;
  height: 24px;
  color: var(--gimmel-darkBlue);
}

.search-icon {
  display: none;
}

.multiSelect {
  margin: 0px !important;
}

.multiSelect .input-box {
  width: 100% !important;
  border: 1px solid var(--gimmel-lightGray);
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gimmel-lightText);
  height: 42px;
}

.chip-body {
  height: auto ! important;
  min-width: auto ! important;
  width: auto;
  background-color: var(--gimmel-orange) ! important;
  color: #ffffff;
  padding: 3px 4px !important;
  text-align: center;
  border-radius: .25rem;
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 3px;
}

.chip-body .chip-text {
  color: #ffffff ! important;
  font-weight: bold;
  margin-right: 2px;
}

.model-custom-body {
  margin-bottom: 130px;
}

.bottom-bar-modal {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.react-player {
  width: 100% !important;
  height: 624px !important;
}

.add-folder-button {
  display: flex;
  gap: 8px;
}

.add-folder-button .btn {
  padding: 0;
  width: 32px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

/* .add-folder-button .btn {
  width: 32px;
  height: 32px;
  padding: 0;
}

.add-folder-button .btn svg {
  width: 24px;
  height: 24px;
  color: var(--gimmel-darkBlue);
} */

.video-title h2 {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  color: var(--gimmel-darkBlue);
}

.mobile-watch-video .card-white {
  margin-top: -8px;
  border-radius: 0;
}

.modal-dots .modal-dialog {
  transition: transform .3s ease-out !important;
  /* transform: translate(0, 50px) !important; */
}

.modal-dots .modal-dialog {
  position: fixed !important;
  bottom: 0 !important;
  left: 0% !important;
  right: 0% !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  height: auto !important;
  align-items: end !important;
}

.modal-dots .modal-content {
  height: 100%;
  border-radius: 16px 16px 0px 0px;
}

.modal-dots .modal-body {
  padding: 0px 24px 24px;
}

.close-modal-icon svg {
  width: 24px;
  height: 24px;
  color: var(--gimmel-darkBlue);
  cursor: pointer;
}

.bottom-btn-bar {
  display: none;
}

.logout-space {
  background-color: var(--gimmel-darkBlue);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.logout-button {
  margin-bottom: 40px;
}

.logout-vector img {
  width: 100%;
  height: auto;
}

.logout-title {
  font-size: 28px;
  font-weight: bolder;
  line-height: 32px;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 36px;
}

.request-item {
  background-color: #F3F6F7;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.request-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.request-title h5 {
  font-size: 17px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.request-date p {
  font-size: 14px;
  font-weight: 600;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
}

.action-notification {
  display: none;
}

.request-item.active {
  border: 1px solid var(--gimmel-orange);
  background-color: #FEF9F6;
}

.request-item.active .request-title h5 {
  color: var(--gimmel-orange);
}

.request-item.active .request-date p {
  color: var(--gimmel-orange);
}

.request-item.active .action-notification {
  display: block;
}

.btn-bottom {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: var(--gimmel-orange);
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-color {
  background-color: #FEF4EE ! important;
  border: 1px solid var(--gimmel-orange);
}

.video-list-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 24px;
}

.video-item-request {
  display: flex;
  align-items: center;
  gap: 8px;
}


.video-item-request-left img {
  width: 135px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.video-item-request-right-title h5 {
  font-size: 14px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  line-height: 18px;
}

.video-item-request-right-subtitle h6 {
  font-size: 12px;
  font-weight: 600;
  color: var(--gimmel-gray);
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 16px;
}

.video-item-request.active .video-item-request-left img {
  border: 2px solid var(--gimmel-orange);
  overflow: hidden;
}

.video-item-request.active .video-item-request-right-title h5 {
  color: var(--gimmel-orange);
}

.btn-outline {
  border: none;
  background-color: transparent;
  color: var(--gimmel-darkBlue);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-link {
  color: var(--gimmel-orange) !important;
  font-weight: bold;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.page-slider-section {
  background: #F3F1EF;
  padding: 10px;
  border-top: 1px solid var(--gimmel-orange);
  border-bottom: 1px solid var(--gimmel-orange);
}

.slider-title h3 {
  font-size: 16px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
}

.list-item-container {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 8px; */
}

.list-item-container .video-card-container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 70%;
}

.modal-btn-list-item ul {
  padding: 0;
  margin: 0;
}

.modal-btn-list-item ul li {
  margin-bottom: 24px;
}

.modal-btn-list-item ul li button {
  color: var(--gimmel-darkBlue);
  text-decoration: none;
  font-weight: bold;
  border: none;
  background: transparent;
  width: 100%;
  text-align: left;
}

.modal-btn-list-item ul li button svg {
  margin-right: 16px;
}

.modal-btn-list-item ul li button img {
  margin-right: 16px;
}

.modal-btn-list-item ul li button svg path {
  fill: var(--gimmel-darkBlue);
}

.categories-bg img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 4.61px;
}

.video-title h5 {
  font-size: 12px;
  font-weight: 900;
  color: var(--gimmel-darkBlue);
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 14px;
  margin-top: 2.5px;
}

.video-list-view {
  display: flex;
  gap: 14px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.video-list-item-multi {
  height: 128px;
  width: -webkit-fill-available;
}

.video-list-item-multi .categories-bg img {
  width: auto;
  height: 100%;
  object-fit: fill;
  border-radius: 4.61px;
}

.video-list-item {
  min-width: 170px;
  width: 100%;
}

.bg-orange-section {
  background: #f3f1ef;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--gimmel-orange);
}

.bg-orange-title h6 {
  font-size: 16px;
  font-weight: 600;
  color: var(--gimmel-orange);
  margin: 0;
  padding: 0;
}

.btn-orange-close {
  background-color: transparent;
  border: none;
  color: var(--gimmel-orange);
  font-size: 24px;
}

.btn-orange {
  background-color: var(--gimmel-orange);
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  margin-top: 16px;
}

.custom-modal-title h6 {
  font-size: 14px;
  font-weight: bold;
  color: var(--gimmel-gray);
  margin: 0;
  padding: 0;
}

.custom-modal-body .accordion-header .accordion-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
  padding: 0;
  box-shadow: none;
  color: var(--gimmel-darkBlue);
}

.custom-modal-body .accordion-header .accordion-button.collapsed {
  border: none;
  color: var(--gimmel-darkBlue);
  font-weight: bold;
}

.modal-select-item {
  border: none;
  box-shadow: none;
  margin: 16px 0 0;
}

.modal-select-item .accordion-body {
  padding: 16px 0 0;
}

.custom-modal-body {
  margin: 16px 0 0;
}

.select-count {
  background-color: var(--gimmel-orange);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 16px;
  line-height: normal;
}

.text-area label {
  font-size: 14px;
  font-weight: bold;
  color: var(--gimmel-gray);
}

.text-area textarea {
  font-size: 14px;
  color: var(--gimmel-darkBlue);
  border-radius: 8px;
  border: 1px solid var(--gimmel-darkBlue);
  padding: 8px;
  height: 96px;
  resize: none;
}

.text-area p {
  font-size: 12px !important;
  color: var(--gimmel-gray) ! important;
}

.selected-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.selected-list li {
  background-color: var(--gimmel-orange);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
  width: fit-content;
}

.multi-select {
  font-size: 14px;
  font-weight: bold;
  color: var(--gimmel-darkBlue);
  z-index: 9;
  border-radius: 8px;
  position: relative;
}

.select-container .form-check-input:checked {
  background-color: var(--gimmel-orange);
  border-color: var(--gimmel-orange) ! important;
}

.select-container .form-check-input:focus {
  box-shadow: none;
}

.request-loader-container {
  text-align: center;
}

.folder-content-right {
  position: relative;
}

button.folder-icon {
  position: relative;
  background: transparent;
  border: none;
}

.dropdown-menu-card li button svg {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.icon-container svg {
  width: 40px;
  height: 40px;
  color: red;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-container p.modal-title {
  font-size: 24px;
  font-weight: 900;
  color: var(--gimmel-darkBlue);
  margin-bottom: 10px;
  padding: 0;
}

.success-modal h4 {
  color: #fff;
  font-weight: 900;
  font-size: 24px;
}

.btn-color-orange-transprent {
  background-color: #4D5F57;
  border: 1px solid var(--gimmel-orange);
  width: 100%;
  height: 56px;
  color: var(--gimmel-orange);
  border-radius: 8px;
}

.success-icon {
  text-align: center;
}

.success-modal .modal-dialog {
  max-width: 600px ! important;
}

.modal-full .modal-dialog{
  max-width: 98% ! important;
  margin: 16px auto ! important;
}

.modal-full .modal-body .header {
  display: none;
}

.modal-full .modal-body {
  padding: 0;
}

.modal-full .modal-body .top-space-filter {
  margin-top: 0;
}

.modal-full .modal-body .react-player {
  border-radius: 8px 8px 0px 0px;
}