.filter-history {
    position: absolute;
    top: 45px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 0px 0px 8px 8px;
}

.filter-content {
    padding: 16px 24px;
}

.filter-content .middle-section {
    height: 450px;
    overflow-y: scroll;
    padding-right: 16px;
}

.filter-content .middle-section::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

.filter-content .middle-section::-webkit-scrollbar-track {
    background: #ffffff;
}

.filter-content .middle-section::-webkit-scrollbar-thumb {  
    background: #C3D3D6;
    border-radius: 8px;
}

.filter-content .dropdown-divider {
    margin: 16px 0 8px;
}

.switch-container .form-check-input {
   background-image: url("../../assets/images/round-blue.svg");
   background-position: 4px;
   background-repeat: no-repeat;
   background-size: 16px;
}

.switch-container .form-check-input:checked {
   background-image: url("../../assets/images/round-white.svg");
   background-position: right;
   background-repeat: no-repeat;
   background-size: 16px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-link.is-active {
    background-color: var(--gimmel-lightGray);
    color: var(--gimmel-darkBlue);
}

.profile-btn-view {
    display: flex;
}

.sec-center a {
    cursor: pointer;
}

.menu-link.active {
    color: var(--gimmel-darkBlue);
    background: #DBE4E6;
    padding: 6px 12px;
    border-radius: 4px;
}

.menu-link.active svg path {
    fill: var(--gimmel-darkBlue);
}

.profile-btn-view.active {
    color: var(--gimmel-darkBlue);
    background: #DBE4E6;
    padding: 6px 12px;
    border-radius: 4px;
}